{% if configuration.priority is not defined %}
    {% set configuration = configuration|merge({'priority': 'secondary'}) %}
{% endif %}

<form id="userpass" action="{{ currentUrl }}" method="post" name="f">

    <h4 class="mb-3 text-left {% if muni_jvs %}color-{{ configuration.priority }}{% elseif configuration.priority == 'primary' %}text-dark{% else %}text-muted{% endif %}">
        {% if attribute(configuration.title, currentLanguage) is defined %}{{ attribute(configuration.title, currentLanguage) }}
        {% elseif configuration.title is defined and configuration.title is iterable and configuration.title is not empty %}{{ configuration.title | first }}
        {% elseif configuration.title is defined and configuration.title is not iterable %}{{ configuration.title }}
        {% else %}{{ '{campusmultiauth:localLogin_title}'|trans }}
        {% endif %}
    </h4>

    {% if wrongUserPass == true %}
        {% if muni_jvs %}
            <div class="message message--error" role="alert">
                <span class="message__icon icon icon-exclamation-triangle"></span>
                <p class="message__desc red">
                    {{ '{campusmultiauth:wrong_username_or_password}'|trans }}
                </p>
            </div>
        {% else %}
            <div id="wrong_user_pass" class="alert alert-danger bg-white" role="alert">
                {{ '{campusmultiauth:wrong_username_or_password}'|trans }}
            </div>
        {% endif %}
    {% endif %}

    <div class="margin-bottom-24 text-left{% if wrongUserPass and muni_jvs %} error{% endif %}">
        <label for="username" class="{% if muni_jvs %}color-{{ configuration.priority }}{% else %}form-label text-{% if configuration.priority == 'primary' %}dark{% else %}muted{% endif %}{% endif %}">
            {% if attribute(configuration.username_label, currentLanguage) is defined %}{{ attribute(configuration.username_label, currentLanguage) }}
            {% elseif configuration.username_label is defined and configuration.username_label is iterable and configuration.username_label is not empty %}{{ configuration.username_label | first }}
            {% elseif configuration.username_label is defined and configuration.username_label is not iterable %}{{ configuration.username_label }}
            {% else %}{{ '{campusmultiauth:username_label}'|trans }}
            {% endif %}
        </label>
        <br>
        {% if muni_jvs %}<span class="inp-fix">{% endif %}
            <input id="username" class="{% if muni_jvs %}inp-text input-height border color-border-{{ configuration.priority }}{% else %}input-height form-control shadow-sm border-2{% if wrongUserPass %} is-invalid{% else %} border-{% if configuration.priority == 'primary' %}dark{% else %}muted{% endif %}{% endif %}{% endif %}"
                   type="text" name="username"{% if cookie_username is not null %} value="{{ cookie_username }}"{% endif %} placeholder="{% if attribute(configuration.username_placeholder, currentLanguage) is defined %}{{ attribute(configuration.username_placeholder, currentLanguage) }}
                {% elseif configuration.username_placeholder is defined and configuration.username_placeholder is iterable and configuration.username_placeholder is not empty %}{{ configuration.username_placeholder | first }}
                {% elseif configuration.username_placeholder is defined and configuration.username_placeholder is not iterable %}{{ configuration.username_placeholder }}
                {% else %}{{ '{campusmultiauth:username_placeholder}'|trans }}
                {% endif %}" required>
        {% if muni_jvs %}</span>{% endif %}
    </div>
    <div class="margin-bottom-24 text-left{% if wrongUserPass and muni_jvs %} error{% endif %}">
        <label for="password" class="{% if muni_jvs %}color-{{ configuration.priority }}{% else %}form-label text-{% if configuration.priority == 'primary' %}dark{% else %}muted{% endif %}{% endif %}">
            {% if attribute(configuration.password_label, currentLanguage) is defined %}{{ attribute(configuration.password_label, currentLanguage) }}
            {% elseif configuration.password_label is defined and configuration.password_label is iterable and configuration.password_label is not empty %}{{ configuration.password_label | first }}
            {% elseif configuration.password_label is defined and configuration.password_label is not iterable %}{{ configuration.password_label }}
            {% else %}{{ '{campusmultiauth:password_label}'|trans }}
            {% endif %}
        </label>
        <br>
        {% if muni_jvs %}
            <span class="inp-fix inp-icon inp-icon--after" id="capslock-warning-wrapper">
        {% else %}
            <div class="input-group">
        {% endif %}
            <input id="password"
               {% if muni_jvs %}
                   class="inp-text input-height border color-border-{{ configuration.priority }}"
               {% else %}
                   {% if configuration.priority == 'primary' %}
                       class="form-control shadow-sm border-2 input-height{% if wrongUserPass %} is-invalid{% else %} border-dark{% endif %}"
                   {% else %}
                       class="form-control shadow-sm border-2 input-height{% if wrongUserPass %} is-invalid{% else %} border-muted{% endif %}"
                   {% endif %}
               {% endif %}
                   type="password" name="password" autocomplete="current-password"{% if cookie_password is not null %} value="{{ cookie_password }}"{% endif %} placeholder="{% if attribute(configuration.password_placeholder, currentLanguage) is defined %}{{ attribute(configuration.password_placeholder, currentLanguage) }}
                {% elseif configuration.password_placeholder is defined and configuration.password_placeholder is iterable and configuration.password_placeholder is not empty %}{{ configuration.password_placeholder | first }}
                {% elseif configuration.password_placeholder is defined and configuration.password_placeholder is not iterable %}{{ configuration.password_placeholder }}
                {% else %}{{ '{campusmultiauth:password_placeholder}'|trans }}
                {% endif %}" required>
            <button id="toggle-password" class="{% if muni_jvs %}btn-icon icon icon-eye color-{{ configuration.priority }}{% else %}btn border border-2 border-{% if configuration.priority == 'primary' %}dark{% else %}muted{% endif %} rounded-end{% endif %}" type="button">{% if not muni_jvs %}<i class="fas fa-eye"></i>{% endif %}</button>
            {% if muni_jvs %}<span class="inp-info vhide" id="capslock-warning">{{ '{campusmultiauth:localLogin_capslock}'|trans }}</span>{% else %}<div class="invalid-feedback text-warning d-block d-none" id="capslock-warning">{{ '{campusmultiauth:localLogin_capslock}'|trans }}</div>{% endif %}
        {% if muni_jvs %}
            </span>
        {% else %}
            </div>
        {% endif %}
    </div>

    {% if rememberme_enabled %}
        <div class="margin-bottom-24 text-left">
            {% if muni_jvs %}
                <label class="inp-item inp-item--checkbox" for="remember_me">
                    <input id="remember_me" type="checkbox" name="remember_me" value="Yes">
                    <span>{{ '{campusmultiauth:remember}'|trans }}</span>
                </label>
            {% else %}
                <input type="checkbox" class="form-check-input border{% if configuration.priority == 'primary' %} border-dark{% else %} border-muted{% endif %}" id="remember_me" name="remember_me" value="Yes">
                <label class="form-check-label margin-left-12 text-{% if configuration.priority == 'primary' %}dark{% else %}muted{% endif %}" for="remember_me">{{ '{campusmultiauth:remember}'|trans }}</label>
            {% endif %}
        </div>
    {% endif %}

    <div class="margin-bottom-24" id="submit">
        {% if muni_jvs %}
            <button id="submit_button" class="btn {% if wayf_config.muni_faculty is defined %}btn-{{ wayf_config.muni_faculty }}{% else %}btn-primary {% endif %}{% if configuration.priority == 'secondary' %}btn-border{% endif %} btn-lg" type="submit">
                <span>
                    <span class="font-muni">{{ '{campusmultiauth:login}'|trans }}</span>
                </span>
            </button>
        {% else %}
            <button id="submit_button" class="btn btn-{{ configuration.priority }} btn-lg shadow-sm" type="submit">
                {{ '{campusmultiauth:login}'|trans }}
            </button>
        {% endif %}
    </div>
    <input type="hidden" id="authstate" name="authstate" value="{{ authstate }}" />
    <input type="hidden" id="source" name="source" value="{{ user_pass_source_name }}" />
</form>
