{% if wayf_config.footer is defined and wayf_config.footer.sections is defined %}
    {% if wayf_config.css_framework is defined and wayf_config.css_framework == 'muni_jvs' %}
        {% set colSize = 4 / attribute(wayf_config.footer.sections, currentLanguage) | length %}
    {% else %}
        {% set colSize = 12 / attribute(wayf_config.footer.sections, currentLanguage) | length %}
    {% endif %}

    {% if wayf_config.css_framework is defined and wayf_config.css_framework == 'muni_jvs' %}
        <footer class="footer footer-jvs text-left">
    {% else %}
        <footer class="footer text-left bg-secondary secondary-contrast-color">
    {% endif %}
        <div class="{% if wayf_config.css_framework is defined and wayf_config.css_framework == 'muni_jvs' %}grid{% else %}row{% endif%} footer-margin">
            {% for block in attribute(wayf_config.footer.sections, currentLanguage) %}
                {% if wayf_config.footer.format is defined and (wayf_config.footer.format == 'HTML' or wayf_config.footer.format == 'markdown') %}
                    <div class="{% if wayf_config.css_framework is defined and wayf_config.css_framework == 'muni_jvs' %}grid__cell size--m--{{ colSize }}-4{% else %}col-padding-0 col-md-{{ colSize }}{% endif %}">
                        {{ block | raw }}
                    </div>
                {% else %}
                    <div class="{% if wayf_config.css_framework is defined and wayf_config.css_framework == 'muni_jvs' %}grid__cell size--m--{{ colSize }}-4{% else %}col-padding-0 col-md-{{ colSize }}{% endif %}">
                        {{ block }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </footer>
{% endif %}
